/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5; /* gris muy claro */
    color: #333;
}

/* tocar cabecera */
header {
    background-color: #22c55e; /* verde suave */
    color: white;
    text-align: center;
    padding: 20px;
}

/* menú páginas */
nav {
    background-color: #10b981; /* verde medio */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* contenido*/
main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/* los titulos h1,2,3 */
h1, h2, h3 {
    color: #16a34a; /* verde más oscuro */
    margin-bottom: 10px;
}

/* para las tablas */
table {
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

/* estilos de los botones */
button {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
}


input {
    padding: 6px;
    margin: 5px;
}

/* pie de página */
footer {
    background-color: #22c55e;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}
