/* estilos dentro del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0fdf4; /* verde suave como respaldo */
    background-image: url('../imagenes/imagen.jpg'); /* ruta de tu imagen */
    background-size: cover; /* ocupa toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* apila título y botón */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
/* estilos header */
header {
    background-color: #22c55e; /* verde suave */
    color: white;
    text-align: center;
    padding: 20px;
}
/* estilos de titulo */
#titulo {
    font-size: 36px;
    color: white; /* para que resalte sobre la imagen */
    margin-bottom: 50px; /* espacio entre título y botón */
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5); /* mejora visibilidad */
}

/* estilos de los botones */
#boton {
    display: inline-block;
    background-color: #10b981; /* verde medio */
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
